<ion-header>
  <ion-navbar padding-right>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Consumi
    </ion-title>
    <ion-buttons end>
      <button ion-button color="dark" (click)="openModal()">
        <ion-icon name="bluetooth"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="back" padding>

  <ion-item no-lines>
    <h1 style="font-size: 50px">
      Corrente: {{corrente}}
    </h1>
    <h1>
      Potenza: {{potenza}}
    </h1>
  </ion-item>

  <h4>Dispositivi collegati:</h4>
  <ion-list *ngIf="isConnected">
    <ion-item>
      <h2>Dispositivo #1</h2>
        <button item-right ion-button (click)="btn_a()">{{btnTextA}}</button>
    </ion-item>
    <ion-item>
      <h2>Dispositivo #2</h2>
      <button item-right ion-button (click)="btn_b()">{{btnTextB}}</button>
    </ion-item>
  </ion-list>
  <button ion-button (click)="data()">ricevi</button>
</ion-content>



<ion-footer>
  <ion-item style="background: #F8F8F8" text-center="">
    <div *ngIf="isConnected;then connected else not_connected"></div>
    <ng-template #connected>
      STATO: <strong>Connesso</strong>
    </ng-template>
    <ng-template #not_connected>
      STATO: <strong>Non connesso</strong>
    </ng-template>
  </ion-item>
</ion-footer>
